{% extends 'padre.html' %}

{% block titulo %}
Bienvenido a mi sitio de Coder
{% endblock %}

{% block contenido %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Eliminar Curso</h1>
                <form method="POST">
                {% csrf_token %}
                    <p>Seguro que desea eliminar el curso {{ object }}?</p>
                    
                    <input type="submit" value="Seguro">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}