<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - Agregar Profesor</title>
</head>
<body>

    <h1>Agregar Nuevo Profesor</h1>
    
    {% if formuario_profesor.errors %}
    <p style="color: red;">Los datos están mal. Por favor reviselos.</p>
    {% endif %}

    <form action="{% url 'profesor-formulario' %}" method="POST">
    {% csrf_token %}
        
        <table>

            {{ formulario_profesor.as_table }}

        </table>

        <input type="submit" value="Enviar">

    </form>
</body>
</html>



